body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://z-p3-scontent.fdla2-1.fna.fbcdn.net/v/t39.30808-6/334639479_230792069314356_3134325601175753825_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_ohc=cC__zA3s_EQQ7kNvgE_85gL&_nc_zt=23&_nc_ht=z-p3-scontent.fdla2-1.fna&oh=00_AYDQ_MeekH0ZanFRy4r9dBgZNC4owz8HI81mhf_SQ_L00Q&oe=666E4CF3'); /* Remplacez 'chemin/vers/votre/image.jpg' par le chemin de votre image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixez l'image pour qu'elle reste en arrière-plan lorsque vous faites défiler */
    color: #333;
}


.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

main {
    padding: 50px 0;
}

section {
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed; /* Fixez le pied de page en bas */
    width: 100%; /* Largeur à 100% */
    bottom: 0; /* Position en bas */
}


/* Ajoutez ces règles CSS pour améliorer la lisibilité */
#accueil {
    color: #fff; /* Couleur du texte blanc pour un meilleur contraste */
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour contraste */
    padding: 50px 0;
    text-align: center;
}

#accueil h2 {
    font-size: 32px; /* Taille de police plus grande */
}

#accueil p {
    font-size: 18px; /* Taille de police légèrement plus grande */
    line-height: 1.6; /* Espacement des lignes légèrement augmenté */
}

/* Style pour la section de contact */
/* Style pour la section de contact */
#contact {
    background-color: rgba(249, 249, 249, 0.9);
    padding: 50px 0;
    text-align: center;
}

#contact h2 {
    margin-bottom: 20px;
    color: #333;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button[type="submit"]:hover {
    background-color: #555;
}

.contact-info {
    margin-top: 50px;
}

.contact-info p {
    margin-bottom: 20px;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.contact-info li {
    margin-bottom: 10px;
    font-size: 16px;
}

.contact-info strong {
    font-weight: bold;
    color: #333;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}
#equipe {
    background-color: rgba(255, 255, 255, 0.9); /* Fond semi-transparent */
    padding: 50px 20px; /* Ajoute un peu d'espace autour du contenu */
}

.member {
    background-color: #fff; /* Fond blanc pour chaque membre */
    padding: 20px;
    margin-bottom: 20px; /* Ajoute de l'espace entre les membres */
    border-radius: 5px; /* Coins arrondis pour un aspect plus esthétique */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour mettre en valeur */
}

.member img {
    max-width: 140px; /* Taille maximale pour les images */
    border-radius: 50%; /* Bordures arrondies pour créer une forme circulaire */
    display: block; /* Pour centrer l'image à l'intérieur de son conteneur */
    margin: 0 auto 15px; /* Ajoute de l'espace en bas et centre l'image horizontalement */
}


.member h2 {
    font-size: 14px; /* Taille de la police modifiée */
    color: #333; /* Couleur du texte */
    font-style: italic; /* Style de police italique */
}
/* Style pour la section Services */
#services {
    padding: 50px 0; /* Espace intérieur */
    background-color: rgba(255, 255, 255, 0.9); /* Fond semi-transparent */
}

#services h2 {
    margin-bottom: 20px; /* Marge en bas */
    color: #333; /* Couleur du titre */
}

#services p {
    margin-bottom: 20px; /* Marge en bas */
    font-size: 18px; /* Taille de police */
}

#services ul {
    list-style-type: none; /* Pas de puces */
    padding: 0; /* Aucun espacement intérieur */
}

#services ul li {
    margin-bottom: 10px; /* Marge en bas pour chaque élément de liste */
    font-size: 16px; /* Taille de police */
}
.reparation-mecanique {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    text-align: justify;
    margin-bottom: 20px;
}

.reparation-mecanique strong {
    font-weight: bold;
    color: #007bff;
}

.reparation-mecanique p {
    margin-bottom: 10px;
}
#apropos {
    color: #333; /* Couleur du texte */
    background-color: rgba(255, 255, 255, 0.9); /* Fond semi-transparent */
    padding: 50px 20px; /* Ajoute un peu d'espace autour du contenu */
}

#apropos h2 {
    margin-bottom: 20px;
    color: #007bff; /* Couleur du titre */
}

#apropos p {
    font-size: 16px; /* Taille de police */
    line-height: 1.6; /* Espacement des lignes */
}

.image-list {
    margin-top: 20px; /* Ajoute de l'espace au-dessus de la liste d'images */
}

.image-list ul {
    list-style-type: none; /* Supprime les puces de la liste */
    padding: 0; /* Supprime le remplissage par défaut */
    display: flex; /* Affiche les éléments de la liste en ligne */
    justify-content: center; /* Centre les éléments horizontalement */
}

.image-list ul li {
    margin-right: 20px; /* Ajoute de l'espace entre les images */
}

.image-list ul li img {
    max-width: 100px; /* Définit une largeur maximale pour les images */
}
.image-list {
    margin-top: 20px; /* Ajoute de l'espace au-dessus de la liste d'images */
    overflow-x: auto; /* Activer la barre de défilement horizontale si nécessaire */
    white-space: nowrap; /* Empêcher le retour à la ligne des éléments */
    -webkit-overflow-scrolling: touch; /* Amélioration du défilement sur les appareils tactiles */
}

.image-list ul {
    list-style-type: none; /* Supprime les puces de la liste */
    padding: 0; /* Supprime le remplissage par défaut */
    display: flex; /* Affiche les éléments de la liste en ligne */
}

.image-list ul li {
    margin-right: 20px; /* Ajoute de l'espace entre les images */
}

.image-list ul li img {
    max-width: 100px; /* Définit une largeur maximale pour les images */
}
#tempsforts {
    color: #333; /* Couleur du texte */
    background-color: rgba(255, 255, 255, 0.9); /* Fond semi-transparent */
    padding: 50px 20px; /* Ajoute un peu d'espace autour du contenu */
}

#tempsforts h2 {
    margin-bottom: 20px;
    color: #007bff; /* Couleur du titre */
}

.events {
    display: flex; /* Affiche les événements en ligne */
    justify-content: space-between; /* Espacement égal entre les événements */
    flex-wrap: wrap; /* Permet aux événements de passer à la ligne si nécessaire */
}

.event {
    width: calc(50% - 20px); /* La moitié de la largeur du conteneur avec un espace entre les événements */
    margin-bottom: 20px; /* Espacement entre les événements */
}

.event img {
    width: 100px; /* Ajustez la taille des images selon vos besoins */
    height: auto;
    margin-right: 10px; /* Ajoute de l'espace entre les images */
}

.event h3 {
    margin-top: 10px; /* Espacement entre l'image et le titre */
}

.event p {
    font-size: 16px; /* Taille de police du paragraphe */
    line-height: 1.6; /* Espacement des lignes du paragraphe */
}
